<section>
  <h1 class="font-poppins font-bold text-2xl text-lime-400 ">NG Memtac</h1>
  <p class="flex justify-between items-center border border-lime-400 rounded p-2">
    Player 
    @if(player() === PLAYER_TYPES.PLAYER2 ) {
    <circle-icon  class="text-red-300" [iconSize]="'w-8'"/>
    }
    @if(player() === PLAYER_TYPES.PLAYER1) {
    <close-icon  class="text-red-300" [iconSize]="'w-8'"/>
    }

    @if(player() === PLAYER_TYPES.UNKNOWN) {
    <asterisk-icon class="text-red-300" [iconSize]="'w-8'"/>
    }
    `s turn
  </p>
  <div class="game px-5 py-2 m-20 max-w-md">
    @for(piece of comp_pieces(); track piece[0]) {

    <game-piece (click)="handleClick($event, piece[0])" [invalid]=" isValidMove() && piece[1] !== PLAYER_TYPES.UNKNOWN" [errorClass]="'focus:bg-red-400 hover:bg-red-400'">
      @if(prevMove().index === piece[0]) {
      @if(piece[1] === PLAYER_TYPES.PLAYER2 ) {
      <circle-icon ngProjectAs="piece-content" class="text-red-300" />
      }
      @if(piece[1] === PLAYER_TYPES.PLAYER1) {
      <close-icon ngProjectAs="piece-content" class="text-red-300" />
      }
      
      }@else {
      <asterisk-icon ngProjectAs="piece-content " class="text-gray-600"/>
      }
      

      
    </game-piece>
    }
  </div>
  @if(stateEq(status(), helpers_.GAMESTATE.OVER)) {
  <p>Game over {{player()}} has won!!!</p>
  }
  <p>[player: {{player()}}, piece-index: {{clickedIndex()}} ]</p>
  <div class="controls flex justify-between border border-lime-400 min-w-lg">
    <button class="btn">
      <circle-icon [iconSize]="'w-8'"/>
    </button>
    <button class="btn" >
      <close-icon [iconSize]="'w-8'"/>
    </button>
    <p class=" ml-7 flex items-center">Selected:
      @if(player() === PLAYER_TYPES.PLAYER1) {
      <close-icon [iconSize]="'w-8'" class="text-lime-200"/>
      }
      @else {
      <circle-icon [iconSize]="'w-8'" class="text-lime-200"/>
      }
    </p>
  </div>
  <div class="scores"> {{ comp_pieces() | mapObjectify | json }}</div>
</section>
